.carousel-item {
    height: 400px;
}

.carousel-item > img {
    height: 100%;
    width: 100%;
}

.media {
    height: 200px;
    border: 2px solid;
    border-radius: 8px;
}
.media-left {
    height: 100%;
    width: 100%;
    
}

.media-left > img {
    height: 100%;
    width: 100%;
    
}


#posts {
   float: right;
}

#posts svg {
    margin: 10px;
}



